.messageEnvoye{
    float: right;
    border-radius: 15px 15px 0px 15px;
    padding: 10px;
    background: #305514;
    color: white;
}

.messageRecu{
    float: left;
    border-radius: 15px 15px 15px 0px;
    border: 2px solid #305514;
    background: #EBF4EC;
    color: #305514;
    
}

.message{
    width: fit-content;
    
    margin: 10px;
    margin-left: 30px;
    margin-right: 30px;
    align-items: flex-end;
    text-align: left;
}




.surContenu {
    background: url('/SAE4/asset/img/fond_messagerie.svg') no-repeat #fff;
    background-position: center;
    display: flex; 
    flex-direction: column;
	margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
    height: 85%;
    
}

.contenuMessagerie {
    align-self: end;
    display: grid;
    height: max-content;
    max-height: 100%;
    overflow-y: scroll;
    width: 100%;
    
}

.contenuMessagerie > a {
    width: auto;
}



.interlocuteur {
    align-self: flex-start;
    color: #305514;
    padding: 4px;
    margin-top: 10px;
    margin-left: 50px;
    font-weight: bold;
    
    
    
}

hr{
    color: #305514;
    margin : 5px !important;
}

p{
    color: #EBF4EC;
}

.contenu{
    margin-left:25px ;
}
