


.squarePanelAdmin{
    width: 100%;
    height: 100%;
    background-color: #4caf50;
    margin: 5px;
    max-width: 300px;
    max-height: 300px;
}

.square1 {
    width: 350px;
    height: 350px;
    background-color: #4caf50;
    margin: 5px;
}




.logo{
    width: 100%;

    box-shadow: 1px 0px 4px 0px rgba(0, 0, 0, 0.25);
}






.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
    gap: 10px;
			
}
/*
.contenuPage{
    margin-top: 5%;
    margin-left: 3%;
    margin-right: 3%;
    
    background-color: #fff;

    border-radius: 3px;

    overflow-y: scroll;
}
*/


.alignementCentreCoteACote{
    display: flex;
    justify-content: center;
}



.commande {
    width: 100%;
    height: 100%;
    background-color: #4caf50;
    margin: 5px;
}

.content-container {
    display: flex;
    padding: 20px;
    /* Utiliser Flexbox pour les éléments "product" et "map" */
}

.product {
    flex: 2;
    /* Partie gauche occupe 50% de la largeur */
    background-color: #f0f0f0;
    padding: 20px;
}

.producteur {
    flex: 1;
    /* Partie droite occupe 50% de la largeur */
    background-color: #c0c0c0;
    padding: 20px;
    display: flex;
    flex-direction: column;
}


.img-produit {
    justify-content: center;
    flex: 1;
    max-height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.img-prod {
    flex: 1;
    width: 100%;
    height: 100%;
    max-height: 250px;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
}


.map-frame {
    width: 100%;
    height: 200px;
}


#boutonLangue{
    padding: 12px;
    background: url('/SAE4/asset/img/paper\ plane.svg') no-repeat #FFFFFF;
    background-position: calc(50% - 3px) center;;
    width: 42px;
    height: 42px;
    border-radius: 21px;
    fill: #FFF;
    stroke-width: 1px;
    stroke: #575757;
    filter: drop-shadow(0px 0px 5px rgba(190, 190, 190, 0.25));
    margin-top: 24px;
    
}


